:root {
    --primaryColor: #1e90ff;
    --backgroundBody: #ffffff;
  }
 

/* navbar custom css section */
/* ------------------------------ */
/* jombotron img custom css property */
.jobotrom-title {
  margin-bottom: -225px;
}
/* main custom css section */
.items:hover {
  background-color: rgba(159, 159, 160, 0.421);
  border-radius: 8px;
  padding: 10px;
}
.custom-border {
  border: 10px solid white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.custom-background {
  background-color: azure;
}
/* footer custom css section */
#custom-footer-background {
  background-color: black!important;
}


/* media quary */
/* navbar-custom media quary */
/* ------------------------------- */
/* jombotron media quary */
@media only screen and (min-width: 375px) and (max-width: 367px)  {
  .jombotron-section > img {
    margin-bottom: 0px;
  }
  .custom-background {
    padding: 10px 5px;
  }
}
@media only screen and (min-width: 992px){  
  .jombotron-section > img {
    margin-bottom: -428px;
  }
  .jombotron-section {
    color: white;
  }
}
@media only screen and (min-width: 375px) and (max-width: 667px) {  
  /* footer sectio heading title color */
  .custom-text-color {
    color: blue!important;
    margin-top: 40px!important;
  }
}


/* main-custom media quary */
/* footer-custom media quary */